<app-blank
    title="About"
    [navs]="navs">
    <app-section sectionTitle="About Page">
        <p>My name is Burak.I'm Twenty-theree years old.I studying Computer Science.I'm at  the Mediterranean University.My main field is  Mathematics liking Mathematics.</p>
    </app-section>

    <app-section sectionTitle="About Page 2">
        <p>
            I realized the university as my academic  career, which started in the field of mathematics and the field I wanted to develop myself by turning to the field of software and see it as my future.I started in the field of the computer Science Akdeniz university and have been developing myself in the field of software for about two years. I'm studying javascript on the WEB,Digital Marketing HTML5 and CSS3. I'm currently working on AngularJS as a Framework.
        </p>
    </app-section>

</app-blank>